@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  flex: 0 1 0;
  align-items: center;
  /*justify-content: flex-start;*/
  padding: 0px 20px;
  max-height: 16;
  gap: 16px;
}

.right-links {
  margin-left: auto;
}

.header ul {
  display: flex;
  gap: 16px;
}

.content {
  display: flex;
  align-self: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 600px;
  text-align: center;
}

.footer {
  margin-top: auto;
  max-height: 40px;
  flex: 0 1 0; /* this is a container but it's also a child (item) of another box */
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #eeeeee;
  padding: 0px 20px;
}

.footer ul {
  display: flex;
  gap: 16px;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px 20px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

ul {
  list-style: none;
  padding: 0px;
}

a {
  text-decoration: none;
  color: #3f403f;
}
